body {
	font-family: 'Lexend Zetta', sans-serif;
	background-image: url(../images/creepy_background.jpg);
	background-size: cover;
	color: lightslategray;
}
.image {
	margin-top: 15px;
	width: 200px;
	height: 200px;
	border: solid grey 4px;
}

#attackbtn {
	border: 0px;
	padding: 0px;
}

.card {
	margin: 10px;
	background-color: black;
}
