body {
	padding-top: 40px;
	font-family: 'Lexend Zetta', sans-serif;
	background-image: url(../images/creepy.gif);
	background-size: cover;
	color: #fff;
}
.image {
	margin-top: 15px;
	width: 210px;
	height: 200px;
	border: solid grey 4px;
}
#pickPlayerRow {
	padding-top: 20px;
}

#attackbtn {
	background-color: rgba(0, 0, 0, 0);
	background-color: transparent;
	border: 2px solid black;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 75px;
	margin-top: 30px;
	margin-bottom: 10px;
	border-radius: 180px;
}
#attackbtn:hover {
	background-image: url('../images/battle_icons/fire.png');
	background-Size: cover;
}

.card {
	margin: 5px;
	margin-bottom: 10px;
	background-color: black;
}
.card:hover {
	color: #fff;
}
.image:hover {
	width: 220px;
	height: 225px;
	border-color: #fff;
}

#message {
	text-align: center;
	padding-top: 20px;
	width: 300px;
	margin-right: 20px;
}

#pickText {
	color: #fff;
}
.ultiumClass {
	color: #fff;
	font-weight: 40px;
	text-align: center;
}
#enemiesLeft {
	height: 220px;
}
#enemyHealthDiv {
	margin-left: 4px;
}
