body {
	font-family: 'Lexend Zetta', sans-serif;
	background-image: url(../images/creepy_background.jpg);
	background-size: cover;
	color: lightslategray;
}
.image {
	margin-top: 15px;
	width: 200px;
	height: 200px;
	border: solid grey 4px;
}

.scoreDiv {
	height: 50px;
	margin-top: 200px;
	border: solid grey 4px;
}
.stats {
	width: 100px;
	font-size: 11px;
	font-weight: bold;
	color: red;
}
